<div
  class="flex flex-col w-screen h-screen overflow-auto text-gray-600 bg-gray-900"
>
  <div
    class="flex items-center flex-shrink-0 w-full h-16 px-10 bg-gray-800 bg-opacity-40"
  >
    <a href="/user/dashboard">
      <svg
        class="w-8 h-8 text-green-600 stroke-current"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M7 21a4 4 0 01-4-4V5a2 2 0 012-2h4a2 2 0 012 2v12a4 4 0 01-4 4zm0 0h12a2 2 0 002-2v-4a2 2 0 00-2-2h-2.343M11 7.343l1.657-1.657a2 2 0 012.828 0l2.829 2.829a2 2 0 010 2.828l-8.486 8.485M7 17h.01"
        />
      </svg>
    </a>
    <div class="ml-10">
      <a
        class="mx-2 text-sm font-semibold text-white hover:text-indigo-700 hidden"
        href="/user/category"
        >Category
        </a>
      <a
        class="mx-2 text-sm font-semibold text-gray-600 hover:text-indigo-700 hidden"
        href="#"
        >Report</a
      >
    </div>
  </div>
  <div class="flex flex-col items-center justify-center w-screen h-full">
    <% if (errorMessage != undefined) { %>
    <div class="text-red-500 font-bold"><%= errorMessage %></div>
    <% } %>
    <form
      class="mt-4 bg-gray-800 shadow-md rounded-lg text-left w-96"
      method="post"
      action="/user/create-product"
      enctype="multipart/form-data"
    >
      <div class="h-2 bg-gray-600 rounded-t-md"></div>
      <div class="px-8 py-6">
        <label class="block font-semibold">Product name</label>
        <input
          type="text"
          name="name"
          placeholder=""
          class="mb-1 w-full h-5 bg-gray-900 px-3 py-5 mt-2 hover:outline-none focus:outline-none focus:ring-gray-800 focus:ring-1 rounded-md"
        />
        <label class="block font-semibold">Product price</label>
        <input
          type="number"
          name="price"
          min="1"
          class="mb-1 w-full h-5 bg-gray-900 px-3 py-5 mt-2 hover:outline-none focus:outline-none focus:ring-gray-800 focus:ring-1 rounded-md"
        />
        <label class="block font-semibold">Produt stock</label>
        <input
          type="number"
          name="stock"
          min="1"
          class="mb-1 w-full h-5 bg-gray-900 px-3 py-5 mt-2 hover:outline-none focus:outline-none focus:ring-gray-800 focus:ring-1 rounded-md"
        />
        <label class="block font-semibold">Description</label>
        <textarea name="description" id="" class="w-full bg-gray-900 rounded">
give a good description of the products</textarea
        >
        <label for=""> Category </label>
        <select
          name="category"
          class="block bg-gray-900 text-white rounded-md px-3 py-2 w-full"
          id=""
        >
          <% categories.forEach(category => { %>
          <option value="<%= category.name %>"><%= category.name %></option>
          <% }) %>
        </select>
        <label class="block font-semibold mt-1">Product Image</label>
        <input
          class="bg-gray-900 text-white rounded-md px-3 py-2 w-full my-2"
          type="file"
          name="file"
        />
        <div class="flex justify-between items-baseline">
          <button
            type="submit"
            class="mt-4 bg-green-600 text-white py-2 px-6 rounded-md hover:bg-green-500 w-full"
          >
            Add
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
